@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
body {
  overflow: hidden;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1c25;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
section:before {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 55%;
  width: 700px;
  height: 700px;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border-radius: 50%;
}
.card {
  position: relative;
  width: 508px;
  height: 314px;
  transform-style: preserve-3d;
  perspective: 500px;
}
.card .face {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: 1s;
  backface-visibility: hidden;
}
.card:hover {
  cursor: pointer;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:hover .back {
  transform: rotateY(360deg);
}
.back {
  transform: rotateY(180deg);
}
.front:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: #0388fc;
  border-radius: 50%;
  opacity: 0.5;
}
.front:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 60px;
  height: 60px;
  background: #fcba03;
  border-radius: 50%;
  opacity: 0.5;
}
.credit {
  position: absolute;
  font-size: 1.5rem;
  left: 40px;
  top: 30px;
  color: #fff;
  font-weight: 500;
}
.bank {
  position: absolute;
  right: 40px;
  top: 30px;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
}
.chip {
  position: absolute;
  top: 100px;
  left: 50px;
  max-width: 64px;
}
.number {
  position: absolute;
  bottom: 100px;
  left: 40px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 18px;
  text-shadow: 0 2px 1px #000 5;
  font-family: "Orbitron";
}
.valid {
  position: absolute;
  bottom: 50px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  line-height: 1em;
  text-align: right;
}
.valid span:last-child {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
.card-holder {
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
}
.black-bar {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 60px;
  background: #000;
}
.ccv-text {
  position: absolute;
  top: 120px;
  left: 30px;
}
.ccv-text h5 {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.ccv-text .white-bar {
  position: relative;
  width: 400px;
  height: 40px;
  background: #fff;
  margin-top: 5px;
}
.ccv-text .cvv {
  position: relative;
  top: -35px;
  left: 395px;
  background: #ccc;
  color: #111;
  width: 50px;
  height: 30px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
  color: #fff;
  font-size: 10px;
  line-height: 1.4em;
  font-weight: 300;
}
