@import url(https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap);

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(45deg, #3f3f3f, #141111);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  border: rgb(163, 53, 53) 5px solid;
}

.heading {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.container {
  /* margin: 0 auto; */
  margin: 2rem 0 2rem 0;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */

  flex-direction: row;
  flex-wrap: wrap;
  border-top: rgb(163, 53, 53) 5px solid;
}

.card {
  height: 30rem;
  width: 90%;
  max-width: 450px;
  background: linear-gradient(45deg, #0f0c29, #24243e);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.card-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-text {
  font-size: 2.6rem;
  color: rgb(220, 220, 220);
  margin: 10px 0;
}

.card-link {
  font-size: 2.6rem;
  color: rgb(220, 220, 220);
  text-decoration: none;
  background: linear-gradient(45deg, #23074d, #cc5333);
  /* background: linear-gradient(45deg, #950706, #3b005c); */
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 450px) {
  .container {
    flex-direction: column;
  }
  .heading {
    font-size: 2.6rem;
  }
  .card {
    height: 25rem;
  }
}

@media (max-width: 280px) {
  .container {
    flex-direction: column;
  }
  .heading {
    font-size: 1.6rem;
    white-space: nowrap;
  }

  .card {
    height: 12rem;
    width: 80%;
  }
  .card-link,
  .card-text {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}
